
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="small">This post is licensed under a <a href="http://creativecommons.org/licenses/by/4.0/" rel="license">Creative Commons Attribution 4.0 International License</a></p>
                    <p class="sponsorship" style="margin-top: 1em">
                        <a class="btn btn-lg btn-outline-primary" href="https://github.com/sponsors/devlead" title="Sponsor Mattias Karlsson on GitHub">
                            <i class="fa fa-heart"></i>
                            Sponsor Mattias 
                        </a>
                    </p>
                </div>
            </div>
            @if (Document.ContainsKey("EditLink"))
            {
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="small"><a href="@Document.GetString("EditLink")"><i class="fas fa-edit"></i> Edit This Page <i class="fab fa-github"></i> </a></p>
                </div>
            </div>
            }
        </div>
