<hr />
<h5>Online presence</h5>
<img align="left" src="https://cdn.devlead.se/clipimg-vscode/2021/01/11/devlead_white_256x256.png?sp=rl&st=2021-01-11T15:33:13Z&se=2031-01-12T15:33:00Z&sv=2019-12-12&sr=b&sig=YcJAjv8TaE1tD7%2B110enTaBM%2FyBEhEBFN8KpJRO1NHo%3D" with="256" height="256" alt="devlead avatar" />
<ul class="list-unstyled">
    <li><a href="https://twitter.com/devlead"><i class="fab fa-medium"></i> Medium</a></li>
    <li><a href="https://twitter.com/devlead"><i class="fab fa-twitter"></i> Twitter</a></li>
    <li><a href="https://github.com/devlead"><i class="fab fa-github"></i> GitHub</a></li>
    <li><a href="https://bitbucket.org/devlead"><i class="fab fa-bitbucket"></i> Bitbucket</a></li>
    <li><a href="https://keybase.io/devlead"><i class="fab fa-keybase"></i> Keybase</a></li>
    <li><a href="https://stackoverflow.com/users/5883153/devlead"><i class="fab fa-stack-overflow"></i> Stack Overflow</a></li>
    <li><a href="https://www.linkedin.com/in/devlead"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
</ul>
<hr />
<ul class="list-unstyled">
    <li><a href="https://mvp.microsoft.com/en-us/PublicProfile/5002677"><img width="124" height="50" style="margin: 5px" alt="Microsoft MVP Badge" src="https://cdn.devlead.se/clipimg-vscode/2021/01/11/1a7b1334-87fc-da54-af91-fc75c8bbfe7b.png?sv=2019-12-12&st=2021-01-10T15%3A36%3A28Z&se=2031-01-11T15%3A36%3A28Z&sr=b&sp=r&sig=gZuGhE9A3pzZbTzTgjy7ojtO97fg9NpUJyaACe0Ocuk%3D" /></a></li>
    <li><a href="http://www.oz-code.com/community"></a><img alt="OzCode Magician Badge" width="157" height="50" style="margin: 5px" src="https://cdn.devlead.se/clipimg-vscode/2021/01/11/c503999d-3a6d-7b98-3410-9e057f99f5e2.png?sv=2019-12-12&st=2021-01-10T15%3A37%3A49Z&se=2031-01-11T15%3A37%3A49Z&sr=b&sp=r&sig=2g5yKPPmdY05OfL1BLK4paJygvjCKlQkwreME5br494%3D" /></a></li>
</ul>