name: Deploy Site
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Get the sources
        uses: actions/checkout@v2

      - name: Install .NET Core SDK
        uses: actions/setup-dotnet@v1

      - run: dotnet run --project ./src/DevLead -- deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}